    <header class="gird-header">
        <div class="header-fixed">
            <div class="header-inner">
                <a href="javascript:void(0)" class="header-logo" id="logo">Wei Jie's blog</a>
                <nav class="nav" id="nav">
                    <ul>
                        <li><a href={% url 'blog_index' %}>首页</a></li>
                        <li><a href="{% url 'article' %}">博客</a></li>
                        <li><a href="{% url 'friendlink' %}">友链</a></li>
                        <li><a href="{% url 'about' %}">关于</a></li>
                    </ul>
                </nav>
                <a href="{% url 'exploit' %}" class="blog-user">
                    <i class="fa fa-qq"></i>
                </a>
                <a class="phone-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </div>
        </div>
    </header>